#jinja2: trim_blocks: True, lstrip_blocks: True
#######################################################
# Pagespeed Enabled
#######################################################

pagespeed {% if wordpress_pagespeed_enabled %}on{% else %}off{% endif %};

#######################################################
# Filter settings
#######################################################
# http://ngxpagespeed.com/ngx_pagespeed_example/

# General Setting
pagespeed RewriteLevel PassThrough;

# General
pagespeed EnableFilters collapse_whitespace,remove_comments;

# CSS
pagespeed EnableFilters combine_css,rewrite_css;

# JS
pagespeed EnableFilters combine_javascript,rewrite_javascript;

# Images
pagespeed EnableFilters lazyload_images;
pagespeed EnableFilters rewrite_images;

# Disallow
pagespeed Disallow "*/wp-admin/*";
pagespeed Disallow "*/checkout/*";
