#jinja2: trim_blocks: True, lstrip_blocks: True
#######################################################
# Pagespeed Enabled
#######################################################

pagespeed {% if wordpress_pagespeed_enabled %}on{% else %}off{% endif %};

#######################################################
# Filter settings
#######################################################
# http://ngxpagespeed.com/ngx_pagespeed_example/

# General Setting
pagespeed RewriteLevel PassThrough;

# General
pagespeed EnableFilters collapse_whitespace,remove_comments;

# CSS
#pagespeed EnableFilters combine_css,rewrite_css;
# JS
#pagespeed EnableFilters combine_javascript,rewrite_javascript;
#pagespeed EnableFilters sprite_images,dedup_inlined_images,insert_image_dimensions,inline_images,outline_javascript,defer_javascript,insert_dns_prefetch,lazyload_images,move_css_to_head,move_css_above_scripts,outline_css;

pagespeed EnableFilters canonicalize_javascript_libraries;

pagespeed EnableFilters add_instrumentation;
pagespeed ReportUnloadTime on;

# Images
pagespeed EnableFilters lazyload_images;
pagespeed EnableFilters rewrite_images;

# Disallow
pagespeed Disallow "*/wp-admin/*";
pagespeed Disallow "*/checkout/*";


