#jinja2: trim_blocks: True, lstrip_blocks: True

server {

	listen 20100;
	server_name localhost;

	root /var/www/phpinfo;

	index info.php index.php index.html index.htm;

	location / {
		try_files $uri $uri/ =404;
		include global/acl-stats.conf
	}
	
	include hhvm.conf;
}
