#jinja2: trim_blocks: True, lstrip_blocks: True

upstream php {
	# server unix:/tmp/php-fpm.sock;
	
	server 127.0.0.1:{{ wordpress_hhvm_port }}; # HHVM

	# PHP-FPM fall back
	server 127.0.0.1:9000 backup;
}

