#jinja2: trim_blocks: True, lstrip_blocks: True

fastcgi_cache_path		{{ wordpress_fastcgi_cache_path }} levels=1:2 keys_zone=WORDPRESS:500m max_size=256m inactive=65m;
fastcgi_cache_key		"$scheme$request_method$host$request_uri";
fastcgi_cache_use_stale error timeout invalid_header http_500;

### Map Mobile
map $http_user_agent $is_mobile {
	default 0;
	~*android|ip(hone|od)|windows\s+(?:ce|phone) 1;
	~*symbian|sonyericsson|samsung|lg|blackberry 1;
	~*mobile 1;
}

log_format cache '{"txid" : "$txid", '
	    '"status" : \"$status\", '
	    '"method" : "$request_method", '
	    '"uri" : "$uri", '
	    '"nocache" : \"$no_cache\", '
	    '"upstream_cache" : \"$upstream_cache_status\", '
	    '"gross_time" : "$request_time", '
	    '"upstream_time" : "$upstream_response_time", '
	    '"bytes" : "$body_bytes_sent", '
	    '"refer" : "$http_referer", '
	    '"domain" : "$host", '
	    '"client_ip" : "$http_incap_client_ip", '
	    '"ua" : "$http_user_agent", '
	    '"sent_ip" : "$remote_addr", '
	    '"user" : "$remote_user", '
	    '"is_mobile" : "$is_mobile", '
	    '"fwd_for" : "$http_x_forwarded_for" '
	'}';


