#jinja2: trim_blocks: True, lstrip_blocks: True

# Caching Proxy For Wordpress
server {
	server_name ~^{{ wordpress_root_domain | replace(".", "\.") }}$ ~^{{ wordpress_root_domain | replace(".", "\.") }}\.{{ wordpress_test_domain | replace(".", "\.") }}$;
	listen 80 {% if wordpress_default_site %}default_server{% endif %};

	access_log /var/log/nginx/{{ wordpress_root_domain }}_proxy_access.json json;
	error_log  /var/log/nginx/{{ wordpress_root_domain }}_proxy_error.log error;
	access_log /var/log/nginx/{{ wordpress_root_domain }}_proxy_cache.json cache;

	include global/pagespeed-cache-html-server.conf; #bypass cache comes from here
	include global/wordpress-cache-conditions.conf;  #skip cache conditions comes from here

	include global/cross-domain-fonts.conf;

	### beacon random sample ###

	set $should_beacon_header_val "";
	set_random $rand 0 100;
	if ($rand ~* "^[0-4]$") {
	  set $should_beacon_header_val {{ wordpress_pagespeed_beacon_key }};
	  set $bypass_cache 1;
	}

	# Cross domain webfont access
	location ~ \.(ttf|ttc|otf|eot|woff|woff2)$ {
		add_header "Access-Control-Allow-Origin" "*";
		proxy_pass http://localhost:8090;

		access_log off;
		expires 31d;
		add_header Cache-Control "public";
	
		set $bypass_cache 1;
	}

	location / {
		proxy_pass http://localhost:8090;
		include global/pagespeed-proxy-cache.conf; # do actual caching

		proxy_cache_valid  200 18h;
		proxy_cache_min_uses  1;

		## pagespeed beacon ##
		set_if_empty $ua_dependent_ps_capability_list "fully general optimizations only";

		proxy_set_header PS-CapabilityList $ua_dependent_ps_capability_list ;
		proxy_hide_header PS-ShouldBeacon;
		proxy_set_header PS-ShouldBeacon $should_beacon_header_val;
	}
}

