#jinja2: trim_blocks: True, lstrip_blocks: True
server {
	server_name ~^{{ wordpress_root_domain | replace(".", "\.") }}$ ~^{{ wordpress_root_domain | replace(".", "\.") }}\.{{ wordpress_test_domain | replace(".", "\.") }}$;
	root /var/www/{{ wordpress_root_domain }}/wordpress;

	listen 80 {% if wordpress_default_site %}default_server{% endif %};
	index index.php;

	access_log /var/log/nginx/{{ wordpress_root_domain }}_access.json json;
	error_log  /var/log/nginx/{{ wordpress_root_domain }}_error.log error;
	access_log /var/log/nginx/{{ wordpress_root_domain }}_cache.json cache;

	include global/restrictions.conf;
	include global/wordpress-restrict.conf;

{% if wordpress_pagespeed_enabled %}
	include global/wordpress-pagespeed.conf;
{% endif %}

	include global/wordpress-notcached.conf;
	include global/wordpress-cache.conf;

######### PHPWPCACHE

	include global/wordpress-location.conf;

{% if wordpress_nginx_wp_super_cache %}
	include global/wordpress-wp-super-cache.conf;
{% elif wordpress_nginx_w3_total_cache %}
	include global/wordpress-w3-total-cache.conf;
{% endif %}

{% if wordpress_hhvm %}
	# Pass *.php to high performance hhvm
	include hhvm.conf;
{% else %}
	# Pass *.php to php-fpm/php-fcgi 
	include global/php-fpm.conf;
{% endif %}
}
