#jinja2: trim_blocks: True, lstrip_blocks: True
server {
	server_name ~^{{ wordpress_root_domain | replace(".", "\.") }}$ ~^{{ wordpress_root_domain | replace(".", "\.") }}\.{{ wordpress_test_domain | replace(".", "\.") }}$;
	root /var/www/{{ wordpress_root_domain }}/wordpress;

	# meant to have a proxy in front
	listen 8090;
	index index.php;

	access_log /var/log/nginx/{{ wordpress_root_domain }}_fastcgi_access.json json;
	error_log  /var/log/nginx/{{ wordpress_root_domain }}_fastcgi_error.log error;

	include global/restrictions.conf;
	include global/wordpress-restrict.conf;

	# cache condidtions must must go first after restrictions
	include global/wordpress-cache-conditions.conf;
{% if wordpress_pagespeed_enabled %}
	include global/wordpress-pagespeed.conf;
{% endif %}

	# Add trailing slash to */wp-admin requests.
	rewrite /wp-admin$ $scheme://$host$uri/ permanent;

	pagespeed DownstreamCachePurgeLocationPrefix	http://{{ wordpress_root_domain }}:80/purge;
	pagespeed DownstreamCacheRebeaconingKey			{{ wordpress_pagespeed_beacon_key }};
	pagespeed DownstreamCachePurgeMethod			"GET";

	include global/wordpress-location.conf;

##### Wordpress Plugins

{% if wordpress_nginx_wp_super_cache %}
	include global/wordpress-wp-super-cache.conf;
{% elif wordpress_nginx_w3_total_cache %}
	include global/wordpress-w3-total-cache.conf;
{% endif %}

##### PHP

	include global/php-hhvm-fpm.conf;

}
